<!DOCTYPE html>
<html>

<head>
    <%include ../common/common_header.html%>

        <!-- Data Tables -->
        <link href="/static/css/plugins/jqgrid/ui.jqgrid.css" rel="stylesheet">
        <link href="/static/css/plugins/jQueryUI/jquery-ui-1.10.4.custom.min.css" rel="stylesheet">
        <style>
            /* Additional style to fix warning dialog position */
            
            #alertmod_table_list_2 {
                top: 900px !important;
            }
        </style>
</head>

<body>
    <div id="wrapper">
        <%include ../common/common_head.html%>
            <%include ../common/common_opration/common_left.html%>
                <div id="page-wrapper" class="gray-bg dashbard-1">

                    <div class="row wrapper border-bottom white-bg page-heading">
                        <div class="col-lg-10">
                            <h2>fishUp</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="/admin">主页</a>
                                </li>
                                <li>
                                    <a>会员管理</a>
                                </li>
                                <li>
                                    <strong>会员列表</strong>
                                </li>
                            </ol>
                        </div>
                        <div class="col-lg-2">

                        </div>
                    </div>
                    <div class="wrapper wrapper-content  animated fadeInRight">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox ">
                                    <div class="ibox-title">
                                        <h5>会员信息管理</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="jqGrid_wrapper">
                                            <table id="table_list_2"></table>
                                            <div id="pager_list_2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
    </div>
    <%include ../common/common_footer.html%>
        <!-- jqGrid -->
        <script src="/static/js/plugins/jqgrid/i18n/grid.locale-cn.js"></script>
        <script src="/static/js/plugins/jqgrid/jquery.jqGrid.min.js"></script>
        <script>
            $(document).ready(function() {


                // Examle data for jqGrid
                var mydata = [{
                    id: "1",
                    invdate: "2010-05-24",
                    name: "test",
                    note: "note",
                    tax: "10.00",
                    total: "2111.00"
                }, {
                    id: "2",
                    invdate: "2010-05-25",
                    name: "test2",
                    note: "note2",
                    tax: "20.00",
                    total: "320.00"
                }, {
                    id: "3",
                    invdate: "2007-09-01",
                    name: "test3",
                    note: "note3",
                    tax: "30.00",
                    total: "430.00"
                }, {
                    id: "4",
                    invdate: "2007-10-04",
                    name: "test",
                    note: "note",
                    tax: "10.00",
                    total: "210.00"
                }, {
                    id: "5",
                    invdate: "2007-10-05",
                    name: "test2",
                    note: "note2",
                    tax: "20.00",
                    total: "320.00"
                }, {
                    id: "6",
                    invdate: "2007-09-06",
                    name: "test3",
                    note: "note3",
                    tax: "30.00",
                    total: "430.00"
                }, {
                    id: "7",
                    invdate: "2007-10-04",
                    name: "test",
                    note: "note",
                    tax: "10.00",
                    total: "210.00"
                }, {
                    id: "8",
                    invdate: "2007-10-03",
                    name: "test2",
                    note: "note2",
                    amount: "300.00",
                    tax: "21.00",
                    total: "320.00"
                }, {
                    id: "9",
                    invdate: "2007-09-01",
                    name: "test3",
                    note: "note3",
                    amount: "400.00",
                    tax: "30.00",
                    total: "430.00"
                }, {
                    id: "11",
                    invdate: "2007-10-01",
                    name: "test",
                    note: "note",
                    amount: "200.00",
                    tax: "10.00",
                    total: "210.00"
                }, {
                    id: "12",
                    invdate: "2007-10-02",
                    name: "test2",
                    note: "note2",
                    amount: "300.00",
                    tax: "20.00",
                    total: "320.00"
                }, {
                    id: "13",
                    invdate: "2007-09-01",
                    name: "test3",
                    note: "note3",
                    amount: "400.00",
                    tax: "30.00",
                    total: "430.00"
                }, {
                    id: "14",
                    invdate: "2007-10-04",
                    name: "test",
                    note: "note",
                    amount: "200.00",
                    tax: "10.00",
                    total: "210.00"
                }, {
                    id: "15",
                    invdate: "2007-10-05",
                    name: "test2",
                    note: "note2",
                    amount: "300.00",
                    tax: "20.00",
                    total: "320.00"
                }, {
                    id: "16",
                    invdate: "2007-09-06",
                    name: "test3",
                    note: "note3",
                    amount: "400.00",
                    tax: "30.00",
                    total: "430.00"
                }, {
                    id: "17",
                    invdate: "2007-10-04",
                    name: "test",
                    note: "note",
                    amount: "200.00",
                    tax: "10.00",
                    total: "210.00"
                }, {
                    id: "18",
                    invdate: "2007-10-03",
                    name: "test2",
                    note: "note2",
                    amount: "300.00",
                    tax: "20.00",
                    total: "320.00"
                }, {
                    id: "19",
                    invdate: "2007-09-01",
                    name: "test3",
                    note: "note3",
                    amount: "400.00",
                    tax: "30.00",
                    total: "430.00"
                }, {
                    id: "21",
                    invdate: "2007-10-01",
                    name: "test",
                    note: "note",
                    amount: "200.00",
                    tax: "10.00",
                    total: "210.00"
                }, {
                    id: "22",
                    invdate: "2007-10-02",
                    name: "test2",
                    note: "note2",
                    amount: "300.00",
                    tax: "20.00",
                    total: "320.00"
                }, {
                    id: "23",
                    invdate: "2007-09-01",
                    name: "test3",
                    note: "note3",
                    amount: "400.00",
                    tax: "30.00",
                    total: "430.00"
                }, {
                    id: "24",
                    invdate: "2007-10-04",
                    name: "test",
                    note: "note",
                    amount: "200.00",
                    tax: "10.00",
                    total: "210.00"
                }, {
                    id: "25",
                    invdate: "2007-10-05",
                    name: "test2",
                    note: "note2",
                    amount: "300.00",
                    tax: "20.00",
                    total: "320.00"
                }, {
                    id: "26",
                    invdate: "2007-09-06",
                    name: "test3",
                    note: "note3",
                    amount: "400.00",
                    tax: "30.00",
                    total: "430.00"
                }, {
                    id: "27",
                    invdate: "2007-10-04",
                    name: "test",
                    note: "note",
                    amount: "200.00",
                    tax: "10.00",
                    total: "210.00"
                }, {
                    id: "28",
                    invdate: "2007-10-03",
                    name: "test2",
                    note: "note2",
                    amount: "300.00",
                    tax: "20.00",
                    total: "320.00"
                }, {
                    id: "29",
                    invdate: "2007-09-01",
                    name: "test3",
                    note: "note3",
                    amount: "400.00",
                    tax: "30.00",
                    total: "430.00"
                }];


                // Configuration for jqGrid Example 2
                $("#table_list_2").jqGrid({
                    data: mydata,
                    datatype: "local",
                    height: 450,
                    autowidth: true,
                    shrinkToFit: true,
                    rowNum: 20,
                    rowList: [10, 20, 30],
                    colNames: ['序号', '操作', '账号', '邮箱', '性别', '所属地区', '状态', '会员等级', '会员来源', '积分', '注册时间'],
                    colModel: [{
                        name: 'id',
                        index: 'id',
                        editable: true,
                        width: 60,
                        sorttype: "int",
                        search: true
                    }, {
                        name: 'opration',
                        index: 'opration',
                        editable: true,
                        width: 90,
                        sortable: false
                    }, {
                        name: 'username',
                        index: 'username',
                        editable: false,
                        width: 100
                    }, {
                        name: 'email',
                        index: 'email',
                        editable: true,
                        width: 80,
                        align: "right",
                        sorttype: "float",
                        formatter: "number"
                    }, {
                        name: 'sex',
                        index: 'sex',
                        editable: true,
                        width: 80,
                        align: "right",
                        sorttype: "float"
                    }, {
                        name: 'section',
                        index: 'section',
                        editable: true,
                        width: 80,
                        align: "right",
                        sorttype: "float"
                    }, {
                        name: 'status',
                        index: 'status',
                        editable: true,
                        width: 100,
                        sortable: false
                    }, {
                        name: 'level',
                        index: 'level',
                        editable: true,
                        width: 100,
                        sortable: false
                    }, {
                        name: 'source',
                        index: 'source',
                        editable: true,
                        width: 100,
                        sortable: false
                    }, {
                        name: 'score',
                        index: 'score',
                        editable: true,
                        width: 100,
                        sortable: false
                    }, {
                        name: 'createtime',
                        index: 'createtime',
                        editable: true,
                        width: 100,
                        sortable: false
                    }],
                    pager: "#pager_list_2",
                    viewrecords: true,
                    add: true,
                    edit: true,
                    addtext: 'Add',
                    edittext: 'Edit',
                    hidegrid: false
                });

                // Add selection
                $("#table_list_2").setSelection(4, true);


                // Setup buttons
                $("#table_list_2").jqGrid('navGrid', '#pager_list_2', {
                    edit: true,
                    add: true,
                    del: true,
                    search: true
                }, {
                    height: 200,
                    reloadAfterSubmit: true
                });

                // Add responsive to jqGrid
                $(window).bind('resize', function() {
                    var width = $('.jqGrid_wrapper').width();
                    $('#table_list_2').setGridWidth(width);
                });
            });
        </script>


</body>

</html>