<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <%include ../common_myself.html %>

                <li class="active">
                    <a href="layouts.html"><i class="fa fa-columns"></i> <span class="nav-label">会员信息</span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="/admin/member/index">会员列表</a>
                        </li>
                        <li><a href="/admin/member/add">会员添加</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;"><i class="fa fa fa-globe"></i> <span class="nav-label">等级设置</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="/admin/member/levelList">等级列表</a>
                        </li>
                        <li><a href="/admin/member/levelAdd">添加等级</a>
                        </li>
                    </ul>
                </li>


        </ul>

    </div>
</nav>