<style>
    .navbar-header {
        width: 220px;
        margin-left: 15px;
    }
</style>
<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <a href="javascrip:;" class="navbar-brand">fishUp 后台管理系统</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a aria-expanded="false" role="button" href="/admin"> 首页</a>
                </li>
                <li class="dropdown">
                    <a aria-expanded="false" role="button" href="javascript:;" class="dropdown-toggle"> 管网运营 </a>
                </li>
                <li class="dropdown">
                    <a aria-expanded="false" role="button" href="javascript:;" class="dropdown-toggle"> 商品管理 </a>

                </li>
                <li class="dropdown">
                    <a aria-expanded="false" role="button" href="javascript:;" class="dropdown-toggle"> 订单管理 </a>

                </li>
                <li class="dropdown">
                    <a aria-expanded="false" role="button" href="javascript:;" class="dropdown-toggle"> 促销活动 </a>

                </li>
                <li class="dropdown">
                    <a aria-expanded="false" role="button" href="/admin/member" class="dropdown-toggle"> 会员管理 </a>

                </li>
                <li class="dropdown">
                    <a aria-expanded="false" role="button" href="javascript:;" class="dropdown-toggle"> 财务管理 </a>

                </li>
                <li class="dropdown">
                    <a aria-expanded="false" role="button" href="javascript:;" class="dropdown-toggle"> 基础功能 </a>

                </li>
            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="login.html">
                        <i class="fa fa-sign-out"></i> 退出
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>