<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <%include ./common_myself.html %>
                <li class="active">
                    <a href="javascrip:;"><i class="fa fa-th-large"></i> <span class="nav-label">管理首页</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="/admin">欢迎界面</a>
                        </li>

                    </ul>
                </li>
        </ul>

    </div>
</nav>